dropbear/default_options_guard.h
.gradle/
.idea/
build/
app/build/
local.properties

# ignore binary files (libraries)
obj/
app/src/main/lib/*/*.so

# ignore generated apk paths
app/debug/
app/release/
